obj/
bin/
.vs/
.vs/*
node_modules/
# dependencies
/node_modules

# testing
/coverage

# production
/build
build/
HwandazaHttpServer/public/gallery/
HwandazaHttpServer/public/music/
# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
HwandazaHttpServer/debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
