.hwandaza-automation {
  font-family: sans-serif;
  text-align: center;
  margin-top: 55px;
  height: 100%;
}
.hwandaza-spinner {
  position: relative;
  margin-left: 200px;
}
@media (min-width: 576px) {
  .hwandaza-spinner{
    position: relative;
    margin-left: 300px;
  }
}

@media (min-width: 768px) {
  .hwandaza-spinner{
    position: relative;
    margin-left: 400px;
  } }